<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550990927312-bce7topq7evl0lvei5ns0boip6qov42t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550990927312-bce7topq7evl0lvei5ns0boip6qov42t</string>
	<key>API_KEY</key>
	<string>AIzaSyD1WA29nhI-BlU_SBH_4gKH9WL5S4Hy2R4</string>
	<key>GCM_SENDER_ID</key>
	<string>550990927312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyApp</string>
	<key>PROJECT_ID</key>
	<string>notesapp-acf8b</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-acf8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550990927312:ios:9de82a13951f2a8c9115d5</string>
</dict>
</plist>